@font-face {
  font-family: Silkscreen-Regular;
  src: url("./fonts/Silkscreen-Regular.ttf");
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MD AND ABOVE */
@media screen and (min-width: 768px) {
  #awoldt_header {
    font-size: 100px;
  }
  #awoldt_description {
    font-size: 22px;
  }
  #backdrop_container {
    background-image: url(../../public/waves.svg);
  }
  .blog-container p {
    font-size: 18px;
    max-width: 1000px;
  }
}

/* SM AND SMALLER */
@media screen and (max-width: 766px) {
  #awoldt_header {
    font-size: 50px;
  }
  #awoldt_description {
    font-size: 17px;
  }
  #backdrop_container {
    background-image: url(../../public/waves-sm.svg);
  }
}

body,
html {
  background-color: #001220;
}

h1,
h2,
h3,
p,
span,
code,
li,
b {
  color: white;
}

hr {
  border: none;
  height: 5px;
  background: #014982;
}
a {
  text-decoration: none;
}

pre {
  margin-bottom: 15px;
  margin-top: 15px;
}

.code-preview {
  padding: 10px;
  border: 10px solid #011e36;
  background-color: #002c4f;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

#blogs_header {
  font-size: 90px;
  font-family: Silkscreen-Regular;
}

.blog-preview-img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.blog-preview-title {
  display: inline-block;
}

.blog-preview-link {
  color: white;
}

.hover-btn:hover {
  background-color: #002c4f;
}
#awoldt_blog_link {
  color: white;
  font-family: Silkscreen-Regular;
  font-size: 25px;
  text-decoration: none;
}
.shareon {
  float: right;
}
.blog-div {
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
}
.blog-div:hover {
  background-color: #011e36;
}
.breadcrumb-item {
  color: white !important;
  font-family: Silkscreen-Regular;
}
.breadcrumb-item a {
  color: white;
}

li::before {
  color: #002c4f !important;
}

.blog-imgs {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
}

.other-blogs-span {
  font-family: Silkscreen-Regular;
}

.terminal-code {
  padding: 5px;
  background-color: #002c4f;
}

.navbar a {
  color: white;
  font-family: Silkscreen-Regular;
}
.navbar div {
  color: white;
  font-family: Silkscreen-Regular;
}

.navbar-brand {
  font-size: 35px;
  color: inherit;
}
.navbar-brand:hover {
  color: white;
}

.active-page {
  text-decoration: underline;
  background-color: #002c4f;
  padding: 10px;
  border-radius: 8px;
}
.nonactive-page {
  background-color: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
