.article-h1-text {
  font-weight: bold;
  font-display: swap;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.article-img {
  margin: 10px 0px 10px 0px;
  margin-bottom: 2.5rem;
}
.article-div {
  margin-bottom: 50px;
}
.article-div img {
  width: 500px !important;
  height: 250px !important;
  margin-bottom: 10px;
}
.article-info-div {
  max-width: 950px;
}
.article-info-div h2 {
  margin-top: 0px;
}

pre {
  margin-bottom: 1.25rem;
}

/* definitely didnt copy from chatgpt */
/* puts a <hr> above each h2 on article page */
.article-page h2:before {
  content: "";
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 4px solid #243c54;
  padding-top: 20px;
}
