li p {
  margin: 0px;
}

body,
html {
  background-color: #001220;
}

body {
  height: 100vh;
}

.container-fluid,
.container {
  background-color: #001220 !important;
}

main {
  padding: 0px !important;
}

h1,
h2,
h3,
p,
code,
li,
b {
  color: white !important;
}

h2 {
  margin-top: 35px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}

ol,
ul {
  margin: 0px 0px 35px 0px !important;
}

hr {
  border: none;
  height: 5px;
  background: #014982;
}
a {
  text-decoration: none;
}

#awoldt_description {
  margin-bottom: 25px;
  padding-top: 25px;
}

.hover-btn {
  background-color: #011d33;
}

.shareon {
  float: right;
}

li::before {
  color: #002c4f !important;
}

.navbar a {
  color: white;
}
.navbar div {
  color: white;
}

.navbar-brand {
  font-size: 25px !important;
  color: inherit;
}
.navbar-brand:hover {
  color: white !important;
}
nav {
  height: 58px !important;
  background-color: #003863;
}

nav .navbar {
  background-color: #003863 !important;
}

/* LG AND ABOVE */
@media screen and (min-width: 992px) {
  p {
    font-size: 20px;
  }
}

/* MD AND SMALLER */
@media screen and (max-width: 991px) {
  p {
    font-size: 18px;
  }
}
