@font-face {
  font-family: Silkscreen-Regular;
  src: url("./fonts/Silkscreen-Regular.ttf");
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* LG AND ABOVE */
@media screen and (min-width: 992px) {
  p {
    font-size: 20px;
  }
  #awoldt_header {
    font-size: 100px;
  }
  #backdrop_container {
    background-image: url(../imgs/waves.svg);
  }
  #personal_projects_description {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
  }
  ul li {
    font-size: 23px;
  }
  ol li {
    font-size: 23px;
  }
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {
  #awoldt_header {
    font-size: 100px;
  }
  p {
    font-size: 19px;
  }
  #backdrop_container {
    background-image: url(../imgs/waves.svg);
  }
  ul li {
    font-size: 19px;
  }
  ol li {
    font-size: 19px;
  }
}

/* SM AND SMALLER */
@media screen and (max-width: 766px) {
  #awoldt_header {
    font-size: 75px !important;
  }
  #backdrop_container {
    background-image: url(../imgs/waves-sm.svg);
  }
  ul li {
    font-size: 16px;
  }
  ol li {
    font-size: 16px;
  }
  h1 {
    font-size: 35px !important;
  }
}

li p {
  margin: 0px;
}

body,
html {
  background-color: #001220;
}

body {
  height: 100vh;
}

.container-fluid,
.container {
  background-color: #001220 !important;
}

main {
  padding: 0px !important;
}

h1,
h2,
h3,
p,
code,
li,
b {
  color: white !important;
}

h2 {
  margin-top: 35px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}

ol,
ul {
  margin: 0px 0px 35px 0px !important;
}

hr {
  border: none;
  height: 5px;
  background: #014982;
}
a {
  text-decoration: none;
}

#awoldt_description {
  margin-bottom: 25px;
  padding-top: 25px;
}

.hover-btn {
  background-color: #011d33;
}

.shareon {
  float: right;
}

li::before {
  color: #002c4f !important;
}

.navbar a {
  color: white;
  font-family: Silkscreen-Regular;
}
.navbar div {
  color: white;
  font-family: Silkscreen-Regular;
}

.navbar-brand {
  font-size: 25px !important;
  color: inherit;
}
.navbar-brand:hover {
  color: white !important;
}
nav {
  height: 58px !important;
}

#backdrop_container {
  background-size: cover;
  padding-top: 400px;
  padding-left: 0px;
  padding-right: 0px;
}

#main_container {
  color: white;
  animation: fadein 0.5s;
}

#awoldt_header {
  font-family: Silkscreen-Regular;
}

#github_link_btn {
  margin-right: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#linkedin_link_btn {
  border-radius: 0px;
  margin-right: 5px;
}

#email_link_btn {
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.prof-social-link {
  text-decoration: none;
  color: black;
}

.prof-social-icon {
  margin-right: 5px;
}

.prof-personal-link {
  width: 166.165px;
  margin: auto;
  margin-top: 25px;
  font-family: Silkscreen-Regular !important;
  color: white !important;
}
.prof-personal-link:hover {
  background-color: #002c4f !important;
}

#tech_frame_banner {
  font-family: Silkscreen-Regular !important;
  text-align: center;
  margin-top: 75px;
}

.project-div p {
  font-size: 16px;
}

.proj-card-link {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: #025aa1;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  font-weight: 900;
  font-weight: 900;
  margin-right: 25px;
}

.proj-card-link:hover {
  background-color: #011e36 !important;
}

#project_blocks_container div {
  text-align: start;
}

.attribution-link {
  font-size: 13px;
  margin-top: 100px !important;
  display: block;
  margin-bottom: 25px;
}

#project_blocks_container img {
  height: 100px;
  width: 100px;
  margin-bottom: 25px;
  display: block;
}

#project_blocks_container p {
  max-width: 950px;
}

#project_blocks_container h2 {
  font-family: Silkscreen-Regular !important;
}

.project-block {
  padding: 25px;
  background-color: #012847 !important;
  border-radius: 10px;
  border: 10px solid #011e36;
  margin-bottom: 50px;
}
