@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  #backdrop_container {
    background-image: none !important;
    padding-top: 75px !important;
  }
}

#social_btns_parent_div {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#main_container {
  color: white;
  animation: fadein 0.5s;
}

#github_link_btn {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
}

#linkedin_link_btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 5px;
  font-size: 20px;
}

#backdrop_container {
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 300px;
  background-image: url(../imgs/waves-sm.svg);
}

.prof-social-link {
  text-decoration: none;
  color: black;
}

.prof-social-icon {
  margin-right: 5px;
}

.prof-personal-link {
  width: 166.165px;
  margin: auto;
  margin-top: 25px;

  color: white !important;
}
.prof-personal-link:hover {
  background-color: #002c4f !important;
}

.attribution-link {
  font-size: 13px;
  margin-top: 100px !important;
  display: block;
  margin-bottom: 25px;
}

.project-btn-links {
  display: flex;
  justify-content: space-evenly;
}

.project-btn-links div {
  display: inline-block;
}

.project-wrapper {
  background-color: #012847 !important;
  margin: 10px;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
}

.project-wrapper span {
  font-weight: 600;
}

.project-div {
  padding: 10px;
}

.project-div img {
  width: 45px;
}

.article-link {
  font-size: 24px;
}